[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
uwsgi = "*"
coveralls = "*"
coverage = "*"
pylint = "*"
mock = "*"

[requires]
python_version = "3"
